<%= form_with(model: month, local: true) do |form| %>
  <% if month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
        <% month.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :month, class: "font-weight-bold" %>
    <%= form.select :month, options_for_select([[ "January", "01" ],[ "February", "02" ], [ "March", "03" ], [ "April", "04" ], [ "May","05" ], [ "June","06" ], [ "July","07" ], [ "August","08" ], [ "September","09" ], [ "October","10" ], [ "November","11" ],  [ "December","12" ] ]), class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :year, class: "font-weight-bold" %>
    <%= form.select :year, options_for_select([2020, 2021, 2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032]), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark"%>
  </div>
<% end %>
