<%= form_with(model: paycheck, local: true) do |form| %>
  <% if paycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paycheck.errors.count, "error") %> prohibited this paycheck from being saved:</h2>

      <ul>
        <% paycheck.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :payday %>
    <%= form.text_field :payday %>
  </div>

  <div class="field">
    <%= form.label :payday_date %>
    <%= form.datetime_select :payday_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
