<%= form_with(model: paycheck, local: true) do |form| %>
  <% if paycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paycheck.errors.count, "error") %> prohibited this paycheck from being saved:</h2>

      <ul>
        <% paycheck.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :payday %>
    <%= form.number_field :payday, step: 0.01, class: "form-control" %>
  </div>

  <%= form.hidden_field :paycheck_month, value: params[:month] %>
  <%= form.hidden_field :paycheck_year, value: params[:year] %>

  <div class="form-group">
    <%= form.label :payday_date %>
    <%= form.datetime_select :payday_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark float-right"%>
  </div>
<% end %>
