<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Month:</strong>
    <%= @csv_uploader.month_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @csv_uploader.name %>
  </p>
  <p>
    <%= @csvheaders.inspect %>
  </p>
  <div class="card">
    <div class="card-body">
      <%= form_with url: "/add_transactions", method: "post", :local => {remote: false} do |form| %>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control"%>
      </div>
        <div class="form-group">
          <%= form.label :amount %>
          <%= form.text_field :amount, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= form.label :date %>
          <%= form.text_field :date, class: "form-control"%>
        </div>
      <%= form.hidden_field :id, value: params[:id] %>

      <%= form.submit class: "btn btn-info"%>
      <% end %>
    </div>
    <% if defined? @listofthings %>
      <%= @listofthings.inspect %>


    <% end %>
  </div>


  <%= link_to 'Edit', edit_csv_uploader_path(@csv_uploader) %> |
  <%= link_to 'Back', csv_uploaders_path %>

</div>