<div class="container position-relative">
        <p>Welcome: <%= current_user.email %></p>
        <h1>Budget for <%= displayMonth @month.month %> <%= @month.year %></h1>
        <p> <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-info", style: "position: absolute; top: 8px; right: 8px;") %>
        </p>
        <div class="my-4">Change/Create <%= render 'form' %></div>
        <div class="d-flex justify-content-between">
                <div class="alert alert-secondary mr-2">
                        <h1>Total Planned: $<%= Money.new(@items.sum(:planned_cents)).to_s %></h1>
                </div>
                <div class="alert alert-info">
                        <h1>Total Paid: $<%= Money.new(@paychecks_payday).to_s%></h1>
                </div>
                <div class="alert alert-warning ml-2">
                        <h1>Amount Left: $<%= Money.new(@paychecks_payday - @transaction_spent).to_s %></h1>
                </div>
        </div>
        <div class="category">
                <div class="card">
                        <div class="card-body">
                                <h2>Paychecks</h2>
                                <table class="table table-striped">
                                        <tr>
                                                <th>Name: </th>
                                                <th>Amount Spent</th>
                                        </tr>
                                        <% @paychecks.each do |paycheck| %>
                                        <tr>
                                                <td>
                                                        <a href="" data-toggle="modal"
                                                                data-target="#modalpaycheck<%= paycheck.id %>"><%= paycheck.name %></a>
                                                </td>
                                                <td>
                                                        $<%= Money.new(paycheck.payday_cents).to_s %>
                                                </td>
                                        </tr>
                                        <%= render partial: 'partials/edit_paycheck', locals: { paycheck: paycheck} %>
                                        <% end %>
                                </table>
                        </div>
                </div>
        </div>
        <% @categories.each do |category| %>
        <div class="category">
                <h2 class="category-title"><a href="" data-toggle="modal"
                                data-target="#modalcategory<%= category.id %>"><%= category.name %></a></h2>
                <% category.items.each do |item| %>
                <div class="card font-weight-bold my-2">
                        <div class="card-body d-flex">
                                <div class="flex-grow-1"><a href="" data-toggle="modal"
                                                data-target="#modalitem<%= item.id%>"><%= item.name %></a></div>
                                <div class="text-info mr-2">$<%= item.planned %></div>
                                <% if ( 0 > ( item.planned_cents - item.transactions.sum(:spent_cents) ) )%>
                                <div class="text-danger">
                                        $<%= Money.new( item.planned_cents - item.transactions.sum(:spent_cents)).to_s %>
                                </div>
                                <% else %>
                                <div class="text-success">
                                        $<%= Money.new( item.planned_cents - item.transactions.sum(:spent_cents)).to_s %>
                                </div>
                                <% end %>
                        </div>
                </div>
                <%= render partial: 'partials/edit_category_item_modal', locals: { item: item } %>
                <% end %>
                <%= render partial: 'partials/edit_category_modal', locals: { category: category} %>
        </div>

        <% end %>

        <div class="category">

                <div class="card">
                        <div class="card-body">
                                <h2>Transactions</h2>
                                <table class="table table-striped">
                                        <tr>
                                                <th>Name: </th>
                                                <th>Amount Spent</th>
                                        </tr>
                                        <% @transactions.each do |transaction| %>
                                        <tr>
                                                <td>
                                                        <a href="" data-toggle="modal"
                                                                data-target="#modaltransaction<%= transaction.id %>"><%= transaction.name %></a>
                                                </td>
                                                <td>
                                                        $<%= Money.new(transaction.spent_cents).to_s %>
                                                </td>
                                        </tr>
                                        <%= render partial: 'partials/edit_transaction', locals: { transaction: transaction} %>
                                        <% end %>
                                </table>
                        </div>
                </div>
        </div>

        <div class="d-flex mb-5">
                <div class="mr-2"><button class="btn btn-dark" data-toggle="modal"
                                data-target="#modalNewBudgetCategory">Create New Budget Category</button></div>
                <div class="mr-2"><button class="btn btn-info" data-toggle="modal"
                                data-target="#modalNewBudgetItem">Create New Budget Item</button></div>
                <div class="mr-2"><button class="btn btn-success" data-toggle="modal"
                                data-target="#modalNewTransaction">Create New Transaction</button></div>
                <div class="mr-2"><button class="btn btn-warning" data-toggle="modal"
                                data-target="#modalNewBudgetPaycheck">Create New Paycheck</button></div>
        </div>
        <%= render partial: 'partials/new_budget_item'%>
        <%= render partial: 'partials/new_budget_category'%>
        <%= render partial: 'partials/new_transaction'%>
        <%= render partial: 'partials/new_paycheck'%>
</div>